
.servicos {
  padding: 50px 20px;
  background: #FFF;
  background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(79, 155, 255, 1) 100%);
  background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(79, 155, 255, 1) 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(79, 155, 255, 1) 100%);
}

.servicos .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.servicos h2 {
  text-align: center;
  margin-bottom: 30px;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.cards-container {
  display: flex;
  gap: 130px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px 80px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.cards-container::-webkit-scrollbar {
  display: none;
}

.cards-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Setas laterais do slider */
.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  background: #4f9bffb2;
  color: #fff;
  border: 2px solid #000;
  width: 40px;
  height: 120px;
  font-size: 80px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}

.left-btn {
  left: -10px;
}

.right-btn {
  right: -10px;
}

.card {
  position: relative;
  flex: 0 0 95%;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
  scroll-snap-align: center;
}

.card-front img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
  /* borda separando imagem do conteúdo */
}

.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* espaço entre descrição e botões */
  min-height: 120px;
}

.card-content h2 {
  font-size: 1.8rem;
}

.card-content p {
  font-size: 1.2rem;
  font-style: italic;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 25px;
  padding: 0 250px;
}

.btn-info {
  background-color: #888;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.btn-info:hover {
  background: #4f9bff;
  color: #fff;
}

.btn-whats {
  background-color: #25D366;
  color: white;
  font-weight: bold;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.btn-whats:hover {
  color: #000;
  background-color: #25D366;
}

.whatsapp-icon {
  font-size: 16px;
}

.whatsapp-icon img {
  width: 30px;
  height: 30px;
}

/****** MODAL ******/
.slider-modal {
  display: none;
  position: fixed;
  inset: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

/****** CONTEÚDO DO SLIDER ******/
.slider-content {
  position: relative;
  max-width: 80%;
  max-height: 80%;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
}

/****** IMAGEM ******/
.slider-images img {
  max-width: 100%;
  max-height: 75vh;
  display: block;
  border-radius: 2%;
}

/****** BOTÃO FECHAR ******/
.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  top: 50px;
  right: 25%;

  background: rgba(255, 0, 0, 0.8);
  color: white;
  border: 2px solid #000;
  border-radius: 50%;

  width: 45px;
  height: 45px;

  font-size: 32px;
  font-weight: bold;

  cursor: pointer;
  z-index: 10001;
}

.close-btn:hover {
  background: rgba(255, 0, 0, 0.61);
}

/****** SETAS DO SLIDER ******/
.arrow {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  color: white;
  border: 2px solid #000;
  padding: 15px;
  cursor: pointer;
  position: absolute;
  /* permite seguir o centro do slider */
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  z-index: 10001;
}

.arrow:hover {
  background-color: #4f9bff;
}

/* Setas mais próximas do conteúdo */
.left-arrow {
  left: 25%;
}

.right-arrow {
  right: 25%;
}

/****** BOTÃO WHATSAPP ABAIXO DO SLIDER CONTENT ******/
.btn-whats-slider {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  background: #25d366;
  padding: 12px 20px;
  border-radius: 8px;
  border: 2px solid #000;

  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;

  margin-top: 15px;
  transition: 0.2s;
  z-index: 10001;
}

.btn-whats-slider:hover {
  color: #000;
  background-color: #25D366;
}