.servicos {
  padding: 50px 20px;
  background: #FFF;
  background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(79, 155, 255, 1) 100%);
  background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(79, 155, 255, 1) 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(79, 155, 255, 1) 100%);
}

.servicos .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.servicos h2 {
  text-align: center;
  margin-bottom: 30px;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.cards-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cards-container {
  display: flex;
  align-items: flex-start;
  gap: 130px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px 80px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.cards-container::-webkit-scrollbar {
  display: none;
}

/* Setas laterais do slider */
.slider-btn {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  z-index: 20;
  background: #4f9bffb2;
  color: #fff;
  border: 2px solid #000;
  width: 40px;
  height: 120px;
  font-size: 80px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}

.left-btn {
  left: -10px;
}

.right-btn {
  right: -10px;
}

.card {
  position: relative;
  flex: 0 0 95%;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
  scroll-snap-align: center;
}

.card-front img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
  /* borda separando imagem do conteúdo */
}

.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* espaço entre descrição e botões */
  min-height: 120px;
}

.card-content h2 {
  font-size: 1.8rem;
}

.card-content p {
  font-size: 1.2rem;
  font-style: italic;
}

.card-buttons {
  display: flex;
  justify-content: center;
  /* ou flex-start */
  gap: 32px;
  /* espaçamento ENTRE os botões */
  margin: 10px 0 25px;
  padding: 0 180px;
}

.btn-info {
  background-color: #888;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.btn-info:hover {
  background: #4f9bff;
  color: #fff;
}

.btn-imoveis-site {
  background-color: #4f9bff;
  color: white;
  font-weight: bold;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.btn-imoveis-site:hover {
  background: #fffc4f;
}

.btn-whats {
  background-color: #25D366;
  color: white;
  font-weight: bold;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}

.btn-whats:hover {
  color: #000;
  background-color: #25D366;
}

.whatsapp-icon {
  font-size: 16px;
}

.whatsapp-icon img {
  width: 30px;
  height: 30px;
}

/****** MODAL ******/
.slider-modal {
  display: none;
  position: fixed;
  inset: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;

  justify-content: center;
  align-items: center;
  flex-direction: column;

}

/****** CONTEÚDO DO SLIDER ******/
.slider-content {
  position: relative;
  max-width: 80%;
  max-height: 80%;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
}

/****** IMAGEM ******/
.slider-images img {
  max-width: 100%;
  max-height: 75vh;
  display: block;
  border-radius: 2%;
}

/****** BOTÃO FECHAR ******/
.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  top: 50px;
  right: 25%;

  background: rgba(255, 0, 0, 0.8);
  color: white;
  border: 2px solid #000;
  border-radius: 50%;

  width: 45px;
  height: 45px;

  font-size: 32px;
  font-weight: bold;

  cursor: pointer;
  z-index: 10001;
}

.close-btn:hover {
  background: rgba(255, 0, 0, 0.61);
}

/****** SETAS DO SLIDER ******/
.arrow {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  color: white;
  border: 2px solid #000;
  padding: 15px;
  cursor: pointer;
  position: absolute;
  /* permite seguir o centro do slider */
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  z-index: 10001;
}

.arrow:hover {
  background-color: #4f9bff;
}

/* Setas mais próximas do conteúdo */
.left-arrow {
  left: 25%;
}

.right-arrow {
  right: 25%;
}

/****** BOTÃO WHATSAPP ABAIXO DO SLIDER CONTENT ******/
.btn-whats-slider {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  background: #25d366;
  padding: 12px 20px;
  border-radius: 8px;
  border: 2px solid #000;

  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;

  margin-top: 15px;
  transition: 0.2s;
  z-index: 10001;
}

.btn-whats-slider:hover {
  color: #000;
  background-color: #25D366;
}



/* ===== IMÓVEIS ===== */
.imoveis-title {
  margin: 20px 0 10px;
  text-align: center;
}

/* CARROSSEL INFINITO */
.imoveis-carousel {
  overflow: hidden;
}

.imoveis-track {
  display: flex;
  gap: 80px;
  padding: 40px;
  animation: slide 20s linear infinite;
}

.imoveis-track:hover {
  animation-play-state: paused;
}

.imovel-item {
  min-width: 380px;
  cursor: pointer;
  box-shadow: 0 2px 4px 2px #0000001a;
  border-radius: 8px;
}

.imovel-item img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.imovel-item .imovel-titulo {
  display: block;
  text-align: center;
  margin: 5px 0;
  font-weight: bold;
}

.imovel-item .imovel-status1 {
  display: inline-block;
  margin-top: 6px;
  padding: 4px 50px;
  background-color: #f7f200;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  text-transform: uppercase;
}

.imovel-item .imovel-status2 {
  display: inline-block;
  margin-top: 6px;
  padding: 4px 50px;
  background-color: #c2001a;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  text-transform: uppercase;
}

@keyframes slide {
  from {
    transform: translateX(20%);
  }

  to {
    transform: translateX(-100%);
  }
}

.btn-veja-mais {
  background: #4f9bff;
  color: #fff;
  font-weight: bold;
}

.btn-veja-mais:hover {
  background: #fffc4f;
  color: #000;
}

/* ===== MODAL ===== */
.imovel-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .7);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.imovel-modal-content {
  width: 70%;
  background: #fff;
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 12px;
}

/* SLIDER */
.imovel-slider {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imovel-slider img {
  width: 80%;
  border-radius: 10px;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.slider-arrow.left {
  left: 5px;
}

.slider-arrow.right {
  right: 5px;
}

/* INFO */
.imovel-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.imovel-info h3 {
  font-weight: bold;
}

.imovel-info .close-btn-imovel {
  position: absolute;
  top: 56px;
  right: 152px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #000;
  background: #ff4d4d;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10001;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imovel-info .close-btn-imovel:hover {
  background: rgba(255, 0, 0, 0.61);
}

.imovel-info p {
  margin: 10px 0;
  text-align: left;
}

/* BOTÕES */
.imovel-buttons {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}